.container {
    height: 610px;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 11px;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 1fr);

}

.item {
    height: 192px;
    width: 253px;
    border: 2px solid;
    text-align: center;
    align-items: center;
    border-radius: 9px;
}

.item img {
    height: 192px;
    width: 253px;
    border-radius: 9px;
}

@media only screen and (max-width: 1310px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 30px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 360px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 36px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 35px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 360px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 44px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 320px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 25px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 712px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 34px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
        margin-left: 14px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 107px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
        margin-left: 14px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 384px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 42px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
        margin-left: 14px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 640px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 38px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
        margin-left: 14px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 360px) {
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 32px;
    }

    .item {
        height: 190px;
        width: 250px;
        border: 2px solid;
        text-align: center;
        align-items: center;
        border-radius: 9px;
        margin-left: 14px;
    }

    .item img {
        height: 190px;
        width: 250px;
        border-radius: 9px;
    }

}